*
!.gitignore
!README.md
!admire/admire-data-processor.r
!admire/admire-drop-fields.txt
!clear/clear-genome-table-genreator.R
!arctic/arctic-data-processor.r
!arctic/arctic-drop-fields.txt
!cll-genome-sample-manifest-processor.r
!cll210/cll210-data-processor.r
!cll210/cll210-drop-fields.txt
!convert-xlsx-txt.sh
!flair/flair-genome-table-generator.R
!rialto/rialto-data-processor.r
!rialto/rialto-drop-fields.txt
!rialto/rialto-to-bertha-converter.r
